:root {
  --frame-width: 640;
  --frame-height: 960;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "GT Walsheim";
  font-weight: 800;
  color: #ffffff;
  text-shadow: 1px 1px 10px #000000;
}

body {
  cursor: pointer;
}

button {
  padding: 0;
  margin: 0;
  border: 0;
  text-indent: -999px;
  color: transparent;
  background: none;
  box-shadow: none;
  cursor: pointer;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

.holder {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.holder * {
  position: absolute;
}

.swiper-slide,
.swiper-wrapper,
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.swiper-slide__first {
  background-image: url("./images/background-first-slide.jpg");
}

.swiper-slide__second {
  background-image: url("./images/background-second-slide.jpg");
}

.swiper-slide__third {
  background-image: url("./images/background-third-slide.jpg");
}

.logo {
  top: -3%;
  right: 4%;
}

.first-slide-title {
  display: block;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-slide__second .title,
.swiper-slide__third .title {
  top: 3%;
  left: 5%;
}

.second-slide-description {
  display: block;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-slide__third .description {
  display: block;
  top: 48%;
  left: 50%;
  transform: translateX(-50%);
}

.map {
  top: 62%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}

.button {
  display: block;
  top: 83%;
  left: 50%;
  transform: translateX(-50%);
  animation: 1s linear 1s infinite alternate button;
  animation-timing-function: ease;
}

@keyframes button {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(-50%) scale(110%);
  }
}
